<launch>
        <arg name="pkg_name" value="obstacle_detection"/>
        <arg name="node_name" default="obstacle_detection_node"/>
        <arg name="veh" default="$(env VEHICLE_NAME)"/>

        <!-- obstacle_detection_node -->
        <node ns="$(arg veh)" name="$(arg node_name)" pkg="$(arg pkg_name)" type="$(arg node_name).py" output="screen">
        </node>

</launch>
